.App {
  text-align: center;
  height: 100vh;
  /* display: grid;
  grid-template-rows: 2.8rem 1fr; */
  display: flex;
  background-color: #f8f6f7;
}

.material-table-custom td > div {
  justify-content: center;
}
